ALTER TABLE novels DROP COLUMN IF EXISTS timeline_status, DROP COLUMN IF EXISTS parameters_status, DROP COLUMN IF EXISTS setting_status, DROP COLUMN IF EXISTS genre_status, DROP COLUMN IF EXISTS characters_status, DROP COLUMN IF EXISTS relationships_status, DROP COLUMN IF EXISTS timeline; ALTER TABLE novels ADD COLUMN IF NOT EXISTS timeline_type text, ADD COLUMN IF NOT EXISTS sub_timeline_type text, ADD COLUMN IF NOT EXISTS novel_gen_process text DEFAULT 'draft';
